<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobira"
        tools:targetApi="31">
        <activity
            android:name=".entities.birdrecord.ActivityShowBirdRecordDetails"
            android:exported="false"
            android:parentActivityName=".entities.birdrecord.ActivityListBirdRecords" />
        <activity
            android:name=".entities.birdrecord.ActivityEditBirdRecord"
            android:exported="false"
            android:parentActivityName=".entities.birdrecord.ActivityListBirdRecords"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".entities.birdrecord.ActivityAddBirdRecord"
            android:exported="false"
            android:parentActivityName=".entities.ringingrecord.ActivityShowRingingRecordDetails"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".entities.birdrecord.ActivityListBirdRecords"
            android:exported="false"
            android:parentActivityName=".entities.ringingrecord.ActivityShowRingingRecordDetails" />
        <activity
            android:name=".entities.net.ActivityListNets"
            android:exported="false"
            android:parentActivityName=".entities.site.ActivityShowSiteDetails" />
        <activity
            android:name=".entities.ringingrecord.ActivityAddRingingRecord"
            android:exported="false"
            android:parentActivityName=".entities.ringingrecord.ActivityListRingingRecords"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".entities.ringingrecord.ActivityEditRingingRecord"
            android:exported="false"
            android:parentActivityName=".entities.ringingrecord.ActivityListRingingRecords"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".entities.ringingrecord.ActivityShowRingingRecordDetails"
            android:exported="false"
            android:parentActivityName=".entities.ringingrecord.ActivityListRingingRecords" />
        <activity
            android:name=".entities.ringingrecord.ActivityListRingingRecords"
            android:exported="false"
            android:parentActivityName=".entities.site.ActivityShowSiteDetails" />
        <activity
            android:name=".entities.site.ActivityEditSite"
            android:exported="false"
            android:parentActivityName=".entities.site.ActivityListSites"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".entities.site.ActivityAddSite"
            android:exported="false"
            android:parentActivityName=".entities.site.ActivityListSites"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".entities.site.ActivityShowSiteDetails"
            android:exported="false"
            android:parentActivityName=".entities.site.ActivityListSites" />
        <activity
            android:name=".entities.site.ActivityListSites"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>